body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
#title{
    text-align: center;
    font-size: 30px;
}
.head{
    margin-bottom: 35px;
}
.setting{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#grid-size-input{
    width: 30px;
}
#clear-btn{
    background-color: blueviolet;
    color: white;
    font-weight:600;
    border: none;
    border-radius: 5px;
}
#resize-btn{
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
#grid-container{
    margin: 20px;
    border: 1px solid black;
    display: grid;
}
.pixel{
    height: 15px;
    width:  15px;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
}